.nav {
  padding-top:0em;
  margin-top:1em;
  margin-bottom:1em;
}

.jumbotron {
  padding-bottom:0em;
}

.img {
  padding-right: 1em;
}

.nav-link {
  color:white;
}

.nav-link:hover {
  color:darkgray;
}

.emphasized-text {
  font-weight: bolder;
}

